#hamburger-icon {
  display: none;
  flex-direction: column;
  width: 3rem;
}
#hamburger-icon > div {
  height: 3px;
  margin: 3px 0;
  background-color: white;
  transition: 0.3s;
}
#hamburger-icon > div:nth-of-type(1) {
  width: 50%;
}
#hamburger-icon > div:nth-of-type(3) {
  width: 75%;
}
#hamburger-icon > input:checked ~ div:nth-of-type(1) {
  transform: rotate(45deg) translate(4px, 0);
  transform-origin: bottom;
}
#hamburger-icon > input:checked ~ div:nth-of-type(2) {
  transform: rotate(-45deg);
  transform-origin: top;
}
#hamburger-icon > input:checked ~ div:nth-of-type(3) {
  transform: rotate(45deg) translate(1px, -10px);
  transform-origin: bottom;
}
@media screen and (max-width: 700px) {
  #hamburger-icon {
    display: flex;
  }
}
