body {
  background-color: black;
  color: white;
  font-size: 1.6rem;
}

header > h1 {
  font-size: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--offset);
  height: var(--header-height);
  width: min(100%, 1200px);
  margin: auto;
}
.desktop-menu {
  display: flex;
  font-size: 1.8rem;
  gap: var(--gutter);
}
.desktop-menu > li:hover {
  color: var(--green);
}
@media screen and (max-width: 700px) {
  .desktop-menu {
    display: none;
  }
}
